jadabs/docs/spec/dtd/OSGiContainers.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!ELEMENT DefaultOSGiContainer EMPTY>
<!ATTLIST DefaultOSGiContainer
	id CDATA #REQUIRED
>
<!ELEMENT OSGiContainer (Property+)>
<!ATTLIST OSGiContainer
	id CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT OSGiContainers (DefaultOSGiContainer, OSGiContainer+)>
<!ELEMENT Property EMPTY>
<!ATTLIST Property
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
