jadabs/docs/spec/dtd/OSGiPluginDescriptor.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by any (Ru-Board) -->
<!--DTD generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!ELEMENT Extension EMPTY>
<!ATTLIST Extension
	id CDATA #REQUIRED
	service CDATA #REQUIRED
	description CDATA #IMPLIED
>
<!ELEMENT Extension-Point EMPTY>
<!ATTLIST Extension-Point
	id CDATA #REQUIRED
	service CDATA #REQUIRED
>
<!ELEMENT OSGiServicePlugin (Extension-Point, Extension, ServiceActivatorBundle)>
<!ATTLIST OSGiServicePlugin
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	version CDATA #REQUIRED
	description CDATA #REQUIRED
	provider-name CDATA #REQUIRED
>
<!ELEMENT ServiceActivatorBundle EMPTY>
<!ATTLIST ServiceActivatorBundle
	bundle-name CDATA #REQUIRED
	bundle-version CDATA #REQUIRED
	bundle-group CDATA #REQUIRED
>
