jadabs/docs/spec/dtd/PlatformDescriptor.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!ELEMENT NetIface EMPTY>
<!ATTLIST NetIface
	type CDATA #REQUIRED
	connection CDATA #REQUIRED
	configuration CDATA #IMPLIED
	name CDATA #REQUIRED
	essid CDATA #IMPLIED
	mode CDATA #IMPLIED
	iface CDATA #REQUIRED
	ip CDATA #IMPLIED
	description CDATA #REQUIRED
>
<!ELEMENT OSGiContainer EMPTY>
<!ATTLIST OSGiContainer
	id CDATA #REQUIRED
>
<!ELEMENT Platform (Property+, OSGiContainer, NetIface+)>
<!ATTLIST Platform
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	version CDATA #REQUIRED
	provider-name CDATA #REQUIRED
>
<!ELEMENT Property EMPTY>
<!ATTLIST Property
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
